.summary-section {
	text-align: center;
}

.summary-paragraph {
	padding-right: 70px;
	padding-left: 70px;
}

.sidebar {
	height: 100%;
	position: fixed;
	min-width: 20%
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
